@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono&display=swap');

html {
	font-family: Roboto mono, monospace;
	background-color: hsl(242, 35%, 17%);
	background-size: cover;
	color: seashell;
}

body {
	width: 61%;
	margin: 0 auto;
}

h1 {
	font-family: gruppo, monospace;
	font-size: 4rem;
}

a:link {
	text-decoration: none;
	color: seashell;
}

a:visited {
	color:azure;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.titre {
	text-align: center;
}

a.CESIA {
	background-color: antiquewhite;
}

a#lienAI img#img-lien {
	max-width: 100%;
	height: auto;
	
}

nav.nav-site {
	display: block;
	position: sticky;
	top: 0px;
	overflow: hidden;
	z-index: 1;
	background-color: hsl(242, 35%, 47%);
    box-shadow: 30px 30px 100px hsl(242, 35%, 32%) inset, 2px 2px 2px black;
}

nav ul {
	list-style: none;
	text-align: center;
	padding: 0px;
}

nav ul li {
	display: inline;
}

nav ul li a {
	padding: 5px;
	border-radius: 2px;
	color: seashell;
	box-shadow: 2px 2px 2px black, inset 1px 1px 0px rgba(255, 245, 238, 50%);
}

nav ul li a:hover {
	background-color: hsl(242, 35%, 32%);
}

nav ul li a:active {
	box-shadow: inset 2px 2px 2px black, 1px 1px 0px rgba(255, 245, 238, 50%);
}

.index ol {
	list-style: upper-roman;
}

.index ol ol {
	list-style: lower-roman;
}

.fconteneur {
	margin-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	background-color: hsl(242, 55%, 17%);
	box-shadow: 5px 5px 5px black;
}


.col-liens {
	width: 30%;
	background-color: hsl(242, 75%, 17%);
	box-shadow: 5px 5px 5px black;
	min-width: 300px;
	margin: 0px 0px 20px;
}

.col-liens h3 {
	text-align: center;
}

.b_lien {
	display: block;
	text-align: center;
	font-size: 2rem;
	width: 100%;
	margin: 10px 0px;
}

.b_lien a {
	display: inline-block;
	width: 90%;
	background-color: black;
	box-shadow: 0px 0px 5px seashell;
	margin: 10px auto;
}

#text {
	background-color: cadetblue;
}


.b_lien a img#img-lien {
	max-width: 100%;
	height: auto;
	
}

.b_lien a img#img-top {
	max-width: 100%;
	height: auto;
}

.b_lien a span#img-top {
	font-size: 0.8rem;
	display: block;
}

.b_lien a img#xanadu {
	height: 100px;
	width: auto;
	float: left;
	margin: 5px;
}

.b_lien a:hover {
	box-shadow: 0px 0px 10px seashell;
	transition: ease-in-out box-shadow 0.5s;
}

.b_lien a:active {
	box-shadow: 0px 0px 15px seashell;
	transition: ease-in-out box-shadow 0.5s;
}

.b_art {
	display: block;
	text-align: center;
	font-size: 2rem;
	width: 300px;
	height: 300px;
	margin: 30px;
	background-color: hsl(242, 75%, 17%);
	display: flex;
	align-items: center;
	justify-content: center;
}

.b_art a {
	display: block;
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
	box-shadow: 0px 0px 5px seashell;
}

.b_art a:hover {
	box-shadow: 0px 0px 10px seashell;
	transition: ease-in-out box-shadow 0.5s;
}

.b_art a:active {
	box-shadow: 0px 0px 15px seashell;
	transition: ease-in-out box-shadow 0.5s;
}

.fconteneur h2 {
	align-self: center;
	width: 100%;
	text-align: center;
}

.fconteneur h3 {
	align-self:center;
	width: 100%;
	text-align: center;
}

.b_livre {
	display: block;
	box-shadow: 5px 5px 5px black;
	padding: 5px;
	width: 300px;
	margin: 30px;
	background-color: hsl(242, 75%, 17%);
	font-size: 0.8rem;
}

.b_livre img {
	width: 100px;
	float: left;
	margin-right: 5px;
}

.b_livre p {
	margin-top: 0px;
	text-align: justify;
}

.b_livre p.titreLivre {
	font-style: italic;
}

.b_livre p.anneeLivre {
	margin-bottom: 0px;
}

.fconteneur a.lienAI {
	display: block;
	width: 300px;
	margin: 30px;
	background-color: black;
	box-shadow: 0px 0px 5px seashell;
}

.fconteneur a.lienAI img{
	float:left
}

.fconteneur a.lienAI:hover {
	box-shadow: 0px 0px 10px seashell;
	transition: ease-in-out box-shadow 0.5s;
}

.fconteneur a.lienAI:active {
	box-shadow: 0px 0px 15px seashell;
	transition: ease-in-out box-shadow 0.5s;
}

@media screen and (max-width: 480px) {
	html {
		background-color: hsl(244, 27%, 88%);
		color: black;
	}

	nav.nav-site {
		background-color: hsl(240, 17%, 88%);
	}

	a:link {
		color: black;
	}

	a:visited {
		color: black;
		text-decoration: none;
	}

	nav ul li a {
		color: black;
	}

	nav ul li a:hover {
		background-color: hsl(242, 35%, 32%);
	}
	
	nav ul li a:active {
		box-shadow: inset 2px 2px 2px black, 1px 1px 0px rgba(255, 255, 255, 1);
	}
	
	.fconteneur {
		background-color: hsl(0, 0%, 63%);
	}
		
	.col-liens {
		background-color: hsl(242, 12%, 55%);
	}
	
	.b_lien a {
		background-color: black;
		box-shadow: 0px 0px 5px seashell;
	}
	
	.b_lien a:hover {
		box-shadow: 0px 0px 10px seashell;
	}
	
	.b_lien a:active {
		box-shadow: 0px 0px 15px seashell;
	}
	
	.b_art {
		background-color: hsl(242, 13%, 59%);
	}
	
	.b_art a {
		box-shadow: 0px 0px 5px seashell;
	}
	
	.b_art a:hover {
		box-shadow: 0px 0px 10px seashell;
	}
	
	.b_art a:active {
		box-shadow: 0px 0px 15px seashell;
	}

}

